# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/
Gemfile.lock
ios/Podfile.lock
ios/cementerios_ui.xcodeproj/project.pbxproj
ios/Pods/Manifest.lock
ios/Pods/Pods.xcodeproj/project.pbxproj
ios/Pods/Target Support Files/Pods-cementerios_ui/Pods-cementerios_ui-acknowledgements.markdown
ios/Pods/Target Support Files/Pods-cementerios_ui/Pods-cementerios_ui-acknowledgements.plist
ios/Pods/Target Support Files/Pods-cementerios_ui/Pods-cementerios_ui-resources-Debug-input-files.xcfilelist
ios/Pods/Target Support Files/Pods-cementerios_ui/Pods-cementerios_ui-resources-Debug-output-files.xcfilelist
ios/Pods/Target Support Files/Pods-cementerios_ui/Pods-cementerios_ui-resources-Release-input-files.xcfilelist
ios/Pods/Target Support Files/Pods-cementerios_ui/Pods-cementerios_ui-resources-Release-output-files.xcfilelist
ios/Pods/Target Support Files/Pods-cementerios_ui/Pods-cementerios_ui-resources.sh
ios/Pods/Target Support Files/Pods-cementerios_ui/Pods-cementerios_ui.debug.xcconfig
ios/Pods/Target Support Files/Pods-cementerios_ui/Pods-cementerios_ui.release.xcconfig
ios/Pods/Target Support Files/Pods-cementerios_ui-cementerios_uiTests/Pods-cementerios_ui-cementerios_uiTests-acknowledgements.markdown
ios/Pods/Target Support Files/Pods-cementerios_ui-cementerios_uiTests/Pods-cementerios_ui-cementerios_uiTests-acknowledgements.plist
ios/Pods/Target Support Files/Pods-cementerios_ui-cementerios_uiTests/Pods-cementerios_ui-cementerios_uiTests-resources-Debug-input-files.xcfilelist
ios/Pods/Target Support Files/Pods-cementerios_ui-cementerios_uiTests/Pods-cementerios_ui-cementerios_uiTests-resources-Debug-output-files.xcfilelist
ios/Pods/Target Support Files/Pods-cementerios_ui-cementerios_uiTests/Pods-cementerios_ui-cementerios_uiTests-resources-Release-input-files.xcfilelist
ios/Pods/Target Support Files/Pods-cementerios_ui-cementerios_uiTests/Pods-cementerios_ui-cementerios_uiTests-resources-Release-output-files.xcfilelist
ios/Pods/Target Support Files/Pods-cementerios_ui-cementerios_uiTests/Pods-cementerios_ui-cementerios_uiTests-resources.sh
ios/Pods/Target Support Files/Pods-cementerios_ui-cementerios_uiTests/Pods-cementerios_ui-cementerios_uiTests.debug.xcconfig
ios/Pods/Target Support Files/Pods-cementerios_ui-cementerios_uiTests/Pods-cementerios_ui-cementerios_uiTests.release.xcconfig
